../aur/0.0.6.tar.gz
PKGBUILD
__pycache__/urw.cpython-310.pyc
build/lib/urw/__init__.py
build/lib/urw/urw.py
build/lib/urw/wordlist.txt
dist/urw-0.0.4-py3-none-any.whl
dist/urw-0.0.4.tar.gz
dist/urw-0.0.5-py3-none-any.whl
dist/urw-0.0.5.tar.gz
dist/urw-0.0.6-py3-none-any.whl
dist/urw-0.0.6-py3.10.egg
dist/urw-0.0.6.tar.gz
setup_old.py
src/urw.git
urw.egg-info/PKG-INFO
urw.egg-info/SOURCES.txt
urw.egg-info/dependency_links.txt
urw.egg-info/top_level.txt
urw.git
urw/__pycache__/__init__.cpython-310.pyc
urw/__pycache__/urw.cpython-310.pyc
../test/rw.old/
../test/rwu/

